
<nav class="navbar fixed-top navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#"> <!--80 y 80-->
      <img src="../../../assets/img/solo_log (1).png" width="80" height="80" class="d-inline-block align-top" alt="">
    </a>
   
    <h5 >SIRH-EXPEDIENTES</h5> 
    
    <a>
      <button class="btn" (click)="expedientes()">Expedientes</button>
    </a>

    <a>
        <button class="btn" (click)="personalTramite()">Personal en trámite</button>
    </a>

    <a>
      <button class="btn" (click)="cerrarSesion()">Cerrar sesión</button>
    </a>


    
  </nav>
  <br><br>
  
