.container{
    
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.267) 0px 1px 8px;
    border-radius: 0.3rem;
    min-height: 675px;
    position:relative;
    margin-top:auto;
    padding-top: auto;
    //top: 10%;
    
    
    
}

.con2{
    min-height: 500px;
    border: 1px solid #ddd;
}