<h3>Información Escolar</h3>

<br><br>
<label><b>Nombre:</b> {{newRegistrarDatosEscolares.NOMBRE}} {{newRegistrarDatosEscolares.APE_PATERNO}} {{newRegistrarDatosEscolares.APE_MATERNO}}</label><br><br>
<button class="btn btn-info"  (click)="openModalInfoEscolar(regisInfoEsc)">Agregar información escolar</button>
<br><br><br>
<table class="table">
    <thead>
        <th>Escolaridad</th>
        <th>Escuela</th>
        <th>Carrera/Especialidad</th> 
        <th>Fecha de inicio</th>
        <th>Fecha de terminación</th>
    </thead>
    <tbody>
        <tr *ngFor="let datosEscolares of ListaEscolaridad" >
            <td>{{datosEscolares.ESCOLARIDAD}}</td>
            <td>{{datosEscolares.ESCUELA}}</td>
            <td>{{datosEscolares.ESPECIALIDAD}}</td>
            <td>{{datosEscolares.FCH_INICIO}}</td>
            <td>{{datosEscolares.FCH_TERMINO}}</td>

            <td>
                <button type="button" class="btn btn-primary" (click)="btnEditarInfoEsc(datosEscolares.IdEstudios,editInfoEsc)">Editar</button>
            </td>
        </tr>

          

    </tbody>
</table>

<br>
<br><br>


<button type="submit" class="btn btn-warning" (click)="btnClicGoToListadoPersonas()">Siguiente</button>



<ng-template #regisInfoEsc let-modal>
    <div class="modal-header">
        <h4 class="modal-title"></h4>
    </div>
  
  
    <div class="modal-body">
        <form class="form-inline" role="form">
            <div class="row">
                <div class="form-group col-3">
                    <label class="form-label" for="ESCOLARIDAD">Escolaridad:</label>
                    <input type="text" id="ESCOLARIDAD" class="form-control"  placeholder="Escolaridad" name="ESCOLARIDAD" [(ngModel)]="newRegistrarDatosEscolares.ESCOLARIDAD"/>
                           
                </div>
                <div class="form-group col-3">
                    <label class="form-label" for="ESCUELA">Escuela:</label>
                    <input type="text" id="ESCUELA" class="form-control"  placeholder="Nombre escuela" name="ESCUELA" [(ngModel)]="newRegistrarDatosEscolares.ESCUELA"/>
                
                </div>
                <div class="form-group col-3">
                    <label class="form-label" for="ESPECIALIDAD">Especialidad:</label>
                    <input type="text" id="ESPECIALIDAD" class="form-control"  placeholder="Especialidad" name="ESPECIALIDAD" [(ngModel)]="newRegistrarDatosEscolares.ESPECIALIDAD" />
        
                </div>
        
                <div class="form-group col-3">
                    <label class="form-label" for="CEDULA">Cédula:</label>
                    <input type="text" id="CEDULA" class="form-control"   placeholder="No. de cedula" name="CEDULA" [(ngModel)]="newRegistrarDatosEscolares.CEDULA"/>
        
                </div>
            </div>
            <br>
            <div class="row">
        
                <div class="col-2">
                    <label class="form-label" for="TRATAMIENTO">Tratamiento:</label>
                    <select id="TRATAMIENTO" class="form-control" name="TRATAMIENTO" [(ngModel)]="newRegistrarDatosEscolares.TRATAMIENTO">
                        <option selected disabled>Seleccione...</option>
                        <option>C.</option>
                        <option>C.P.</option>
                        <option>Lic.</option>
                        <option>Ing.</option>
                        <option>Arq.</option>
                        <option>Mtro.</option>
                        <option>Mtra.</option>
                        <option>Dr.</option>
                        <option>Dra.</option>
                    </select> 
        
                </div>
        
                <div class="col-3">
                    <label class="form-label" for="FCH_INICIO">Fecha de Inicio:</label>
                    <input type="date" id="FCH_INICIO" class="form-control"  placeholder="Seleccione" name="FCH_INICIO" [(ngModel)]="newRegistrarDatosEscolares.FCH_INICIO"/>
        
                </div>
        
                <div class="col-3">
                    <label class="form-label" for="FCH_TERMINO">Fecha de termino:</label>
                    <input type="date" id="FCH_TERMINO" class="form-control"  placeholder="Seleccione"  name="FCH_TERMINO" [(ngModel)]="newRegistrarDatosEscolares.FCH_TERMINO"/>
                    
                </div>
        
                
                
            </div>
            <br>
           
        </form>
        
    </div>
  
  
    <div class="modal-footer">
        <small id="" class="text-muted">
            Favor de verificar la información capturada antes de guardar.
        </small>
        <br>
        
        <button type="submit" class="btn btn-danger" (click)="modal.close()">Cancelar</button>
           
        <button type="submit" class="btn btn-warning" (click)="postInfoEscolar(); modal.close()">Guardar Información</button>
        
  
    </div>
</ng-template>


  <ng-template #editInfoEsc let-modal>
      <div class="modal-header">
          <h4 class="modal-title">Editar información</h4>
      </div>
 
      <div class="modal-body">
        <form class="form-inline" role="form">
            <div class="row">
                <div class="form-group col-3">
                    <label class="form-label" for="ESCOLARIDAD">Escolaridad:</label>
                    <input type="text" id="ESCOLARIDAD" class="form-control"  placeholder="Escolaridad" name="ESCOLARIDAD" [(ngModel)]="newRegistrarDatosEscolares.ESCOLARIDAD"/>
                           
                </div>
                <div class="form-group col-3">
                    <label class="form-label" for="ESCUELA">Escuela:</label>
                    <input type="text" id="ESCUELA" class="form-control"  placeholder="Nombre escuela" name="ESCUELA" [(ngModel)]="newRegistrarDatosEscolares.ESCUELA"/>
                
                </div>
                <div class="form-group col-3">
                    <label class="form-label" for="ESPECIALIDAD">Especialidad:</label>
                    <input type="text" id="ESPECIALIDAD" class="form-control"  placeholder="Especialidad" name="ESPECIALIDAD" [(ngModel)]="newRegistrarDatosEscolares.ESPECIALIDAD" />
        
                </div>
        
                <div class="form-group col-3">
                    <label class="form-label" for="CEDULA">Cédula:</label>
                    <input type="text" id="CEDULA" class="form-control"   placeholder="No. de cedula" name="CEDULA" [(ngModel)]="newRegistrarDatosEscolares.CEDULA"/>
        
                </div>
            </div>
            <br>
            <div class="row">
        
                <div class="col-2">
                    <label class="form-label" for="TRATAMIENTO">Tratamiento:</label>
                    <select id="TRATAMIENTO" class="form-control" name="TRATAMIENTO" [(ngModel)]="newRegistrarDatosEscolares.TRATAMIENTO">
                        <option selected disabled>Seleccione...</option>
                        <option>C.</option>
                        <option>C.P.</option>
                        <option>Lic.</option>
                        <option>Ing.</option>
                        <option>Arq.</option>
                        <option>Mtro.</option>
                        <option>Mtra.</option>
                        <option>Dr.</option>
                        <option>Dra.</option>
                    </select> 
        
                </div>
        
                <div class="col-3">
                    <label class="form-label" for="FCH_INICIO">Fecha de Inicio:</label>
                    <input type="date" id="FCH_INICIO" class="form-control"  placeholder="Seleccione" name="FCH_INICIO" [(ngModel)]="newRegistrarDatosEscolares.FCH_INICIO"/>
        
                </div>
        
                <div class="col-3">
                    <label class="form-label" for="FCH_TERMINO">Fecha de termino:</label>
                    <input type="date" id="FCH_TERMINO" class="form-control"  placeholder="Seleccione"  name="FCH_TERMINO" [(ngModel)]="newRegistrarDatosEscolares.FCH_TERMINO"/>
                    
                </div>
        
                
                
            </div>
            <br>
           
        </form>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" (click)="modal.close()">Cancelar</button>
           
        <button type="submit" class="btn btn-warning" (click)="putInfoEscolar(); modal.close()">Guardar Información</button>
      </div>

  </ng-template> 

  <ng-template>
      <div class="modal-header">
          <h4>hola modal </h4>

      </div>
      <div class="modal-body">
          <div>
              <div>

              </div>
          </div>

      </div>
      <div class="modal-footer">

      </div>
  </ng-template>

















