.btn{
   
    text-align: center;
    margin-right: 3px;
    color: white;
    font-weight: bolder;

}

.previzualizacion{
    height: 450px;
    box-shadow: rgba(255, 105, 105, 0.267) 0px 1px 8px;
    
}

.thead{
    color: brown;
}