
    <br> 
    <h3>Información Personal</h3>
    

    <form class="form-inline" role="form">
       <div class="row">
            <div class="col-5">
                <label class="form-label" for="typeText">Nombres:</label>
                <input type="text" id="typeText" class="form-control" placeholder="Nombres"/>    
            </div>

            <div class="col-3">
                <label class="form-label" for="typeText">Apellido Paterno:</label>
                <input type="text" id="typeText" class="form-control col-md-2"  placeholder="Apellido Paterno" />
            </div>

            <div class="col-3">
                <label class="form-label" for="typeText">Apellido Materno:</label>
                <input type="text" id="typeText" class="form-control col-4"  placeholder="Apellido Materno" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <label for="">Sexo:</label>
                    <select id="" class="form-control">
                        <option selected disabled>Seleccione...</option>
                        <option>Masculino</option>
                        <option>Femenino</option>
                    </select>    
            </div>
    
            <div class="col-3">
                <label class="form-label" for="typeText">Fecha de Nacimiento:</label>
                <input type="date" id="typeText" class="form-control"  placeholder="Seleccione" />
                    
            </div>
            
            
            <div class="col-3">
                <label class="form-label" for="typeText">Estado Civil:</label>
                    <select id="" class="form-control">
                        <option selected disabled>Seleccione...</option>
                        <option>SOLTERO(A)</option>
                        <option>CASADO(A)</option>
                        <option>VIUDO(A)</option>
                        <option>DIVORCIADO(A)</option>
                        <option>UNION LIBRE O CONCUBINATO</option>
                        <option>SEPARADO(A)</option>
                    </select>  
            </div>

        </div>
        <br>

        <div class="row">
            <div class="col-3">
                <label class="form-label" for="typeText">RFC:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="RFC" />
                    
            </div>
            <div class="col-3">
                <label class="form-label" for="typeText">CURP:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="CURP" />        
                    
            </div>
            <div class="col-3">
                <label class="form-label" for="typeText">Clave Elector:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Clave Elector"/>
                    
            </div>
            <div class="col-3">
                <label class="form-label" for="typeText">Licencia:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Licencia" />
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <label class="form-label" for="typeText">Pasaporte:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Pasaporte" />
        
                    
            </div>
            <div class="col-3">
                <label class="form-label" for="typeText">Cartilla:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Cartilla" />
                    
            </div>
            <br>
            <br>

        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <label class="form-label" for="typeText">País de nacimiento:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Pais" />   
            </div>
            <div class="col-3">
                <label class="form-label" for="typeText">Estado de nacimiento:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Estado"/>       
            </div>
            <div class="col-3">
                <label class="form-label" for="typeText">Municipio de nacimiento:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Municipio" />
            </div>
            <div class="col-3">    
                <label class="form-label" for="typeText">Nacionalidad:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Nacionalidad"/>   
            </div>

        </div>
        <br>
    </form>
    <br>



<!--------------------------------------------------------------------------------------------------------------------------------------->
<h3>Información de contacto</h3>    
    <form class="form-inline" role="form">
        <div class="row">
            <div class="col-4">
                <label class="form-label" for="typeText">Email:</label>
                <input type="email" id="typeText" class="form-control" placeholder="Email" />          
            </div>
            <div class="form-group col-2">
                <label class="form-label" for="typeText">Teléfono:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Telefono" /> 
            </div>
            <div class="form-group col-2">
                <label class="form-label" for="typeText">Celular:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Celular" /> 

            </div>
            
        </div>
    </form>
    <br>
    <br>


    <h3>Información de domicilio</h3>
    <br>

    <form class="form-inline" role="form">
        <div class="row">
            <div class="col-4">
                <label class="form-label" for="typeText">Calle:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Calle" />
                         
            </div>
            <div class="col-4">
                <label class="form-label" for="typeText">Entre calle:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Entre"/>
                
            </div>
            <div class="col-4">
                <label class="form-label" for="typeText">Y calle:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="y" />
               
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-1">
                <label class="form-label" for="typeText">No.Exterior:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Ext" />

            </div>
            <div class="form-group col-1">
                <label class="form-label" for="typeText">No.Interior:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Int" />

            </div>
            <div class="form-group col-2">
                <label class="form-label" for="typeText">Colonia:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Colonia" />

            </div>

            <div class="form-group col-2">
                <label class="form-label" for="typeText">Código Postal:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Codigo Postal" />


            </div>

            <div class="form-group col-3">
                <label class="form-label" for="typeText">Entidad:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Entidad" />

            </div>

            <div class="form-group col-3">
                <label class="form-label" for="typeText">Municipio:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Municipio" />

            </div>

        </div>
        <br>
        <div class="row">
            <div class="form-group col-3">
                <label class="form-label" for="typeText">Ciudad:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Ciudad" />

            </div>

        </div>
            
            
      

    </form>
    <br><br>


  
    
    <h3>Información Escolar</h3>
    <form class="form-inline" role="form">
        <div class="row">
            <div class="form-group col-3">
                <label class="form-label" for="typeText">Escolaridad:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Escolaridad"/>
                       
            </div>
            <div class="form-group col-3">
                <label class="form-label" for="typeText">Escuela:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Nombre escuela"/>
            
            </div>
            <div class="form-group col-3">
                <label class="form-label" for="typeText">Especialidad:</label>
                <input type="text" id="typeText" class="form-control"  placeholder="Especialidad" />

            </div>

            <div class="form-group col-3">
                <label class="form-label" for="typeText">Cédula:</label>
                <input type="text" id="typeText" class="form-control"   placeholder="No. de cedula"/>

            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-2">
                <label class="form-label" for="typeText">Tratamiento:</label>
                <select id="" class="form-control">
                    <option selected disabled>Seleccione...</option>
                    <option>C.</option>
                    <option>C.P.</option>
                    <option>Lic.</option>
                    <option>Ing.</option>
                    <option>Arq.</option>
                    <option>Mtro.</option>
                    <option>Mtra.</option>
                    <option>Dr.</option>
                    <option>Dra.</option>
                </select> 

            </div>

            <div class="col-3">
                <label class="form-label" for="typeText">Fecha de Inicio:</label>
                <input type="date" id="typeText" class="form-control"  placeholder="Seleccione" />

            </div>

            <div class="col-3">
                <label class="form-label" for="typeText">Fecha de termino:</label>
                <input type="date" id="typeText" class="form-control"  placeholder="Seleccione" />

            </div>

            
            
        </div>
        <br>
        <div class="row">
            <div class="col-8">
                <label class="form-label" for="typeText">Observaciones:</label>
                <textarea class="form-control" id="" rows="2"></textarea>

            </div>

        </div>
    </form>
    <br><br><br>

    

    <small id="" class="text-muted">
        Favor de verificar la información capturada antes de guardar.
    </small>

    <br><br>


    <button type="submit" class="btn btn-warning">Guardar Información</button>