<!--<div class="footer">
2022 | Jacqueline Leal
    <div class="md-form">
        <input value="John Doe" type="text" id="form6" class="form-control" mdbInput>
        <label for="form6">Example label</label>
      </div>

      <label class="form-label" for="customFile">Default file input example</label>
      <input type="file" class="form-control" id="customFile" />

      <div class="form-outline">
        <input type="text" id="form12" class="form-control" />
        <label class="form-label" for="form12">Example label</label>
      </div>
      

</div>-->
<footer class="footer">
  <div class="container" class="text-center p-4">
    <small class="text-muted">
      &#169; {{ date | date: "yyyy" }} | Departamento de Recursos Humanos FGJE
    </small>
  </div>
</footer>
 

  
