<h2>Listado de personal</h2>
<br>
<h6>Escriba el nombre de la persona que desea buscar:</h6>
<br><br>

    <div class="row">
        <div class="col-3"> 
            <input type="text" id="typeText" class="form-control"  placeholder="Nombres" />   
        </div>
        <div class="form-group col-2">
            <input type="text" id="typeText" class="form-control"  placeholder="Apellido Paterno" /> 
        </div>
        <div class="form-group col-2">
          <input type="text" id="typeText" class="form-control"  placeholder="Apellido Materno" /> 
        </div>
        <div class="form-group col-3">
            <button type="submit" class="btn btn-info"  >Buscar</button> 
        </div>
    </div>
    <br><br><br>

    <table class="table">
        <thead class="thead">
          <tr>
            
            <th>Clave de empleado</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th> 
            <th>Estatus</th>
            <th>Fecha de registro</th> 
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lista of ListaNombres">
            <td>{{lista.CVE_EMPLEADO}}</td>
            <td>{{lista.NOMBRE}}</td>
            <td>{{lista.APE_PATERNO}}</td>
            <td>{{lista.APE_MATERNO}}</td>
            <td>{{lista.ESTATUS}}</td>
            <td>{{lista.FECHA_REGISTRO_DATA_PERSONAL}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="btnClickGoToEditarEmpleado(lista.Id, lista.IdDomicilio, lista.IdEstudios)" data-toggle="tooltip" data-placement="bottom" title="Editar">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
              <button type="button" class="btn btn-primary" (click)="btnClickGoToSubirDocs(lista.Id, lista.IdDomicilio, lista.IdEstudios)" data-toggle="tooltip" data-placement="bottom" title="Subir documentación">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                </svg>
              </button>
              <button type="button" class="btn btn-primary" (click)="btnClickGoToVerExpediente(lista.Id, lista.IdDomicilio, lista.IdEstudios)" data-toggle="tooltip" data-placement="bottom" title="Ver expediente">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
                  <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
                </svg>
              </button>
              <button type="button" class="btn btn-primary">holi</button>
              <button type="button" class="btn btn-primary">holi</button>
            </td>

          </tr>
        </tbody>
      </table>
      
<!--ICONS: https://icons.getbootstrap.com/icons/file-earmark-arrow-up-fill/-->