
    <br> 
    <h3>Información Personal</h3>
    

    <form class="form-inline" role="form">
       <div class="row">
            <div class="col-5">
                <label class="NOMBRE" for="typeText">Nombres:</label>
                <input type="text" id="NOMBRE" class="form-control" name='NOMBRE' placeholder="Nombres"  [(ngModel)]="newRegistrarDatos.NOMBRE" />    
            </div>

            <div class="col-3">
                <label class="form-label" for="APE_PATERNO">Apellido Paterno:</label>
                <input type="text" id="APE_PATERNO" class="form-control col-md-2"  placeholder="Apellido Paterno" name="APE_PATERNO" [(ngModel)]="newRegistrarDatos.APE_PATERNO" />
            </div>

            <div class="col-3">
                <label class="form-label" for="APE_MATERNO">Apellido Materno:</label>
                <input type="text" id="APE_MATERNO" class="form-control col-4"  placeholder="Apellido Materno" name="APE_MATERNO" [(ngModel)]="newRegistrarDatos.APE_MATERNO" />
            </div>
        </div>
        <br> 
        <div class="row">
            <div class="col-2">
                <label for="SEXO">Sexo:</label>
                    <select id="SEXO" class="form-control" name="SEXO" [(ngModel)]="newRegistrarDatos.SEXO">
                        <!--<option selected disabled>Seleccione...</option>-->
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="O">Otro</option>
                    </select>    
            </div>
    
            <div class="col-3">
                <label class="form-label" for="FECHA_NAC">Fecha de Nacimiento:</label>
                <input type="date" id="FECHA_NAC" class="form-control"  placeholder="Seleccione" name="FECHA_NAC" [(ngModel)]="newRegistrarDatos.FECHA_NAC" />
                    
            </div>
            
            
            <div class="col-3" >
                <label class="form-label" for="EST_CIVIL">Estado Civil:</label>
                    <select id="EST_CIVIL"  aria-placeholder="Seleccionar" class="form-control" name="EST_CIVIL" [(ngModel)]="newRegistrarDatos.EST_CIVIL">
                        <!--<option selected disabled>Seleccione...</option>  -->
                        <option  *ngFor = "let estadoCivil of listaEstadoCivil" value={{estadoCivil.CVE_CIV}}>{{estadoCivil.EDO_CIV}}</option>
                    </select>  
            </div>

            <div class="col-2">
                <label class="form-label" for="SANGRE">Tipo de sangre:</label>
                <select type="text" id="SANGRE" class="form-control"  placeholder="Tipo de sangre" name="SANGRE" [(ngModel)]="newRegistrarDatos.SANGRE">
                    <!--<option selected disabled>Seleccione...</option> -->
                    <option  *ngFor = "let sangre of listaTiposSangre" value={{sangre}}>{{sangre}}</option>
                </select> 
            </div>



        </div>
        <br>

        <div class="row">
            <div class="col-3">
                <label class="form-label" for="CVE_RFC">RFC:</label>
                <input type="text" id="CVE_RFC" class="form-control"  placeholder="RFC" name="CVE_RFC" [(ngModel)]="newRegistrarDatos.CVE_RFC"  maxlength="13" required autocomplete="off" />
                    
            </div>
            <div class="col-3">
                <label class="form-label" for="CURP">CURP:</label>
                <input type="text" id="CURP" class="form-control"  placeholder="CURP" name="CURP" [(ngModel)]="newRegistrarDatos.CURP"  maxlength="19" required autocomplete="off"/>        
                    
            </div>
            <div class="col-3">
                <label class="form-label" for="CVE_ELECTOR">Clave Elector:</label>
                <input type="text" id="CVE_ELECTOR" class="form-control"  placeholder="Clave Elector" name="CVE_ELECTOR" [(ngModel)]="newRegistrarDatos.CVE_ELECTOR"  maxlength="19" required autocomplete="off"/>
                    
            </div>
            <div class="col-3">
                <label class="form-label" for="LICENCIA">Licencia:</label>
                <input type="text" id="LICENCIA" class="form-control"  placeholder="Licencia" name="LICENCIA" [(ngModel)]="newRegistrarDatos.LICENCIA"  maxlength="15" required autocomplete="off"/>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <label class="form-label" for="PASAPORTE">Pasaporte:</label>
                <input type="text" id="PASAPORTE" class="form-control"  placeholder="Pasaporte" name="PASAPORTE" [(ngModel)]="newRegistrarDatos.PASAPORTE"  maxlength="20" required autocomplete="off" />
        
                    
            </div>
            <div class="col-3">
                <label class="form-label" for="CARTILLA">Cartilla:</label>
                <input type="text" id="CARTILLA" class="form-control"  placeholder="Cartilla" name="CARTILLA" [(ngModel)]="newRegistrarDatos.CARTILLA"  maxlength="10" required autocomplete="off"/>
                    
            </div>
            <br>
            <br>

        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <label class="form-label" for="PAIS_NAC">País de nacimiento:</label><!--(keyup)="mostrarPais($event)"-->
                <select type="text" id="PAIS_NAC" class="form-control"  placeholder="Pais" name="PAIS_NAC" [(ngModel)]="newRegistrarDatos.PAIS_NAC" >   
                    <option *ngFor = "let pais of listaPaisNac" value={{pais.CVE_PAIS}} >{{pais.PAIS}}</option>
                </select>
            </div>
            <div class="col-3">
                <label class="form-label" for="EDO_NAC">Estado de nacimiento:</label>
                
                <select type="text" id="EDO_NAC" class="form-control"  placeholder="Estado" name="EDO_NAC" [(ngModel)]="newRegistrarDatos.EDO_NAC">
                    <option *ngFor = "let estado of listaEstados" value={{estado.CVE_EDO}} >{{estado.ESTADO}}</option>
                </select>       
            </div>
            <div class="col-3">
                
                <label class="form-label" for="MUN_NAC">Municipio de nacimiento:</label>
                <select type="text" id="MUN_NAC" class="form-control"  placeholder="Municipio" name="MUN_NAC" [(ngModel)]="newRegistrarDatos.MUN_NAC" >
                    <option *ngFor = "let municipio of listaMunicipios" value={{municipio.CveCiudad}} >{{municipio.Ciudad}}</option>
                </select>
            </div>
            <div class="col-3">    
                <label class="form-label" for="NACIONALIDAD">Nacionalidad:</label>
                <select type="text" id="NACIONALIDAD" class="form-control"  placeholder="Nacionalidad" name="NACIONALIDAD" [(ngModel)]="newRegistrarDatos.NACIONALIDAD">   
                    <option *ngFor = "let pais of listaPaisNac" value={{pais.CVE_PAIS}}>{{pais.NACIONALIDAD}}</option>
                </select>
            </div>

        </div>
        <br>
    </form>
    <br>



<!--------------------------------------------------------------------------------------------------------------------------------------->
<hr>
<h3>Información de contacto</h3>  
  
    <form class="form-inline" role="form">
        <div class="row">
            <div class="col-4">
                <label class="form-label" for="EMAIL">Email:</label>
                <input type="email" id="EMAIL" class="form-control" placeholder="Email" name="EMAIL" [(ngModel)]="newRegistrarDatos.EMAIL"  pattern=" [a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"/>          
            </div>
            <div class="form-group col-2">
                <label class="form-label" for="TELEFONO">Teléfono:</label> 
                <input type="number" id="TELEFONO" class="form-control"  placeholder="Telefono" pattern="[0-9]" name="TELEFONO" [(ngModel)]="newRegistrarDatos.TELEFONO"  maxlength="10" required autocomplete="off" /> 

            </div>
            <div class="form-group col-2">
                <label class="form-label" for="CELULAR">Celular:</label>
                <input type="number" id="CELULAR" class="form-control"  pattern="[0-9]" placeholder="Celular" name="CELULAR" [(ngModel)]="newRegistrarDatos.CELULAR"   maxlength="10" required autocomplete="off" /> 

            </div>
            
        </div>
    </form>
    <br>
    <br>


    <h3>Información de domicilio</h3>
    <br>

    <form class="form-inline" role="form">
        <div class="row">
            <div class="col-4">
                <label class="form-label" for="CALLE">Calle:</label>
                <input type="text" id="CALLE" class="form-control"  placeholder="Calle"  name="CALLE" [(ngModel)]="newRegistrarDatos.CALLE"/>
                         
            </div>
            <div class="col-4">
                <label class="form-label" for="ENTRE_CALLE">Entre calle:</label>
                <input type="text" id="ENTRE_CALLE" class="form-control"  placeholder="Entre" name="ENTRE_CALLE" [(ngModel)]="newRegistrarDatos.ENTRE_CALLE"/>
                
            </div>
            <div class="col-4">
                <label class="form-label" for="Y_CALLE">Y calle:</label>
                <input type="text" id="Y_CALLE" class="form-control"  placeholder="y"  name="Y_CALLE" [(ngModel)]="newRegistrarDatos.Y_CALLE"/>
               
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-1">
                <label class="form-label" for="NO_EXTERIOR">No.Exterior:</label>
                <input type="number" id="NO_EXTERIOR" class="form-control"  placeholder="Ext" name="NO_EXTERIOR" [(ngModel)]="newRegistrarDatos.NO_EXTERIOR"/>

            </div>
            <div class="form-group col-1">
                <label class="form-label" for="NO_INTERIOR">No.Interior:</label>
                <input type="text" id="NO_INTERIOR" class="form-control"  placeholder="Int" name="NO_INTERIOR" [(ngModel)]="newRegistrarDatos.NO_INTERIOR"/>

            </div>
            <div class="form-group col-2">
                <label class="form-label" for="COLONIA">Colonia:</label>
                <input type="text" id="COLONIA" class="form-control"  placeholder="Colonia" name="COLONIA" [(ngModel)]="newRegistrarDatos.COLONIA" />

            </div>

            <div class="form-group col-2">
                <label class="form-label" for="CODIGO_POSTAL">Código Postal:</label>
                <input type="number" id="CODIGO_POSTAL" class="form-control"  placeholder="Codigo Postal" name="CODIGO_POSTAL" [(ngModel)]="newRegistrarDatos.CODIGO_POSTAL" />


            </div>

            <div class="form-group col-3">
                <label class="form-label" for="ENTIDAD">Entidad:</label>
                <select type="text" id="ENTIDAD" class="form-control"  placeholder="Entidad" name="ENTIDAD" [(ngModel)]="newRegistrarDatos.ENTIDAD" >
                    <option *ngFor = "let estado of listaEstados" value={{estado.CVE_EDO}} >{{estado.ESTADO}}</option>
                </select>  

            </div>

            <div class="form-group col-3">
                <label class="form-label" for="MUNICIPIO">Municipio:</label>
                <select type="text" id="MUNICIPIO" class="form-control"  placeholder="Municipio" name="MUNICIPIO" [(ngModel)]="newRegistrarDatos.MUNICIPIO" >
                    <option *ngFor = "let municipio of listaMunicipios" value={{municipio.CveCiudad}} >{{municipio.Ciudad}}</option>
                </select>

            </div>

        </div>
        <br>

        <div class="row">
            <div class="form-group col-3">
                <label class="form-label" for="CIUDAD">Ciudad:</label>
                <select type="text" id="CIUDAD" class="form-control"  placeholder="Ciudad"  name="CIUDAD" [(ngModel)]="newRegistrarDatos.CIUDAD">
                    <option *ngFor = "let ciudad of listaCiudades" value={{ciudad.Ciudad}} >{{ciudad.Ciudad}}</option>
                </select>
            </div>
        </div>
            
            
      

    </form>


    <br>
    <hr><br><br>

    <h3>Información complementaria</h3>
    <br>
    <form class="form-inline" role="form">
        <div class="row">
            <div class="col-4">
                <label class="form-label" for="EMAIL">¿Pertenece a alguna etnia indígena?</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="PERTENECE_ETNIA" id="radioPerteneceEtdniaTrue"  [(ngModel)]="newRegistrarDatos.PERTENECE_ETNIA" value="1" >
                    <label class="form-check-label" for="">Si</label>
                  </div>
                  
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="PERTENECE_ETNIA" id="radioPerteneceEtdniaFalse"  [(ngModel)]="newRegistrarDatos.PERTENECE_ETNIA" value="0">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                  </div><br>
                  <div  *ngIf="newRegistrarDatos.PERTENECE_ETNIA == 1">
                    <input type="text" id="" class="form-control"  placeholder="Especifique " name="NOM_ETNIA" [(ngModel)]="newRegistrarDatos.NOM_ETNIA"/> 
                  </div>
                   
            </div>  
    
        </div>

        <div class="row">
            <div class="col-4">
                <label class="form-label" for="">¿Habla alguna lengua indígena?</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="HABLA_LEN_INDIGENA" id="radioHablaLenIndigenaT"  [(ngModel)]="newRegistrarDatos.HABLA_LEN_INDIGENA" value="1" >
                    <label class="form-check-label" for="inlineRadio1">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="HABLA_LEN_INDIGENA" id="radioHablaLenIndigenaF"  [(ngModel)]="newRegistrarDatos.HABLA_LEN_INDIGENA" value="0">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div><br>
                <div  *ngIf="newRegistrarDatos.HABLA_LEN_INDIGENA == 1">
                    <input type="text" id="" class="form-control"  placeholder="Especifique" name="LENGUA_INDIGENA" [(ngModel)]="newRegistrarDatos.LENGUA_INDIGENA" />  
                </div>
                
                <br><br>
           
            </div>
        </div>
        <br><br>
    </form>
    <form>
       
    </form>
    <form>
        
        <div class="row">
            <div class="col-4">
                <label class="form-label" for="CELULAR">¿Es padre o madre?</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ES_PADRE" id="radioEsPadreT" [(ngModel)]="newRegistrarDatos.ES_PADRE" value="1" >
                    <label class="form-check-label" for="inlineRadio1">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ES_PADRE" id="radioEsPadreF" [(ngModel)]="newRegistrarDatos.ES_PADRE" value="0">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div><br><br><br>

            </div>

        </div>

    </form>

    <form>
        <div class="row">
            <div class="col-4">
                <label class="form-label" for="">¿Cuenta con alguna discapacidad?</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="TIENE_DISCAPACIDAD" id="radioDiscapacidadT" [(ngModel)]="newRegistrarDatos.TIENE_DISCAPACIDAD" value="1">
                    <label class="form-check-label" for="inlineRadio1">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="TIENE_DISCAPACIDAD" id="radioDiscapacidadF" [(ngModel)]="newRegistrarDatos.TIENE_DISCAPACIDAD" value="0">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div><br>
                <div  *ngIf="newRegistrarDatos.TIENE_DISCAPACIDAD == 1">
                    <input type="text" id="" class="form-control"  placeholder="Especifique" name="NOM_DISCAPACIDAD"  [(ngModel)]="newRegistrarDatos.NOM_DISCAPACIDAD"/> 
                </div>

                
                 
                <br><br>
           
            </div>
        </div>
    </form>

    <form>
        <div class="row">
            <div class="col-4">
                <label class="form-label" for="">¿La persona tendrá un puesto como: Perito, Agente Ministerial de Investigación Criminal, Agente del Ministerio Público ó Agente del Ministerio Público Auxiliar?</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ES_AGENTEMP_PERITO" id="radioPuestoAMP_T" [(ngModel)]="newRegistrarDatos.ES_AGENTEMP_PERITO" value="1" >
                    <label class="form-check-label" for="inlineRadio1">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ES_AGENTEMP_PERITO" id="radioPuestoAMP_F" [(ngModel)]="newRegistrarDatos.ES_AGENTEMP_PERITO" value="0">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div><br><br>
               
           
            </div>
        </div>
    </form>
    <br>
    <br>

    
    <hr>
    <small id="" class="text-muted">
        Favor de verificar la información capturada antes de guardar.
    </small>

    <br><br>


  <!--  <button type="submit" class="btn btn-warning" (click)="registrarDatosPDE()">Siguiente</button>-->

   