.navbar-brand{
  color: coral;
  font-weight: 750;
  font-style: oblique;
  font-size: x-large;
  text-shadow: 2px;
  margin-left: 40px;
}
  

.navbar-light{
    background-color: rgb(245, 245, 240);
    border-color: rgb(242, 245, 245);
    font-weight: 500;
    font-size: large;
}

.divlistas li:hover{
  color: coral;
}




  