<br><br><h3>Consulta de datos generales y documentos</h3><br><br>

<form class="form-inline" role="form">
    <div class="row">
        <div class="form-group col-2">
             
            <input type="text" id="CVE_EMPLEADO" class="form-control col-md-2" name='CVE_EMPLEADO' placeholder="Num.Empleado" [(ngModel)]="valoresInputBusqueda.CVE_EMPLEADO"  />    
        </div>
         <div class="form-group col-4">
             
             <input type="text" id="NOMBRE" class="form-control col-md-2" name='NOMBRE' placeholder="Nombres" [(ngModel)]="valoresInputBusqueda.NOMBRE" />    
         </div>

         <div class="form-group col-2">
             
             <input type="text" id="APE_PATERNO" class="form-control col-md-2"  placeholder="Apellido Paterno" name="APE_PATERNO" [(ngModel)]="valoresInputBusqueda.APE_PATERNO"  />
         </div>

         <div class="col-2">
             
             <input type="text" id="APE_MATERNO" class="form-control col-4"  placeholder="Apellido Materno" name="APE_MATERNO" [(ngModel)]="valoresInputBusqueda.APE_MATERNO" />
         </div>
         <div class="form-group col-2">
             
            <button type="submit" class="btn btn-info" (click)="buscarData()">Buscar</button> 
        </div>

    </div>
    <br><br>
</form>


<table class="table">
    <thead class="thead">
      <tr> 
        <th>Num. Empleado</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th> 
        <th>Estatus</th> 
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let nombre of listaPersonas">
        <td>{{nombre.CVE_EMPLEADO}}</td>
        <td>{{nombre.NOMBRE}}</td>
        <td>{{nombre.APE_PATERNO}}</td>
        <td>{{nombre.APE_MATERNO}}</td>
        <td>{{nombre.ESTATUS}}</td>
        <td>                                                                                                                                        <!----abrirModalVerInfoGeneral(verInfoGeneral)-->
            <button type="button" class="btn btn-primary"  data-toggle="tooltip" data-placement="bottom" title="Ver Información general" (click)="abrirModalVerInfoGeneral(verInfoGeneral, nombre.CVE_EMPLEADO)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
              </button>
              <button type="button" class="btn btn-primary"  data-toggle="tooltip" data-placement="bottom" title="Ver documentos" (click)="abrirModalVerDocumentos(verDocs,nombre.NOMBRE, nombre.APE_PATERNO, nombre.APE_MATERNO, nombre.CVE_EMPLEADO)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
                    <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
                  </svg>
              </button> 

              

             

        </td>
      </tr>
      
      
    </tbody>
</table> 

<!-- #region  MODALES BOTONES VER INFO, VER DOCS-->

<ng-template #verInfoGeneral let-modal>
  <div class="modal-header">
      <h4 class="modal-title">INFORMACIÓN GENERAL</h4>
  </div>

  <div class="modal-body">
    <form class="form-inline" role="form">
      <!--1-->
      <div class="row">
        <div class="col-4">
          <img [src]="previzualizacionDoc" width="90%" height="95%">

        </div>
        <div class="col-2"></div>
        <div class="col-6">
          <br><br>
          <label><b>NOMBRE: </b>{{datosPersonales[0].NOMBRE}}</label><br>
          <label><b>APELLIDO PATERNO: </b>{{datosPersonales[0].APE_PATERNO}}</label><br>
          <label><b>APELLIDO MATERNO: </b>{{datosPersonales[0].APE_MATERNO}}</label><br>
         
          <label><b>ESTADO CIVIL: </b>{{datosPersonales[0].EDO_CIV}}</label><br>
          <label><b>SEXO: </b>{{datosPersonales[0].SEXO}}</label><br>
          <label><b>NUM. EMPLEADO: </b>{{datosPersonales[0].CVE_EMPLEADO}}</label><br>
          <br><br>
          <br>

        </div>

      </div>


      <div class="row">
        <div class="col-6">
          <hr>
          <h5>IDENTIFICACIONES</h5>
          <div *ngIf="datosPersonalesLenght != 0; else withOutData">
            <label><b>RFC: </b>{{datosPersonales[0].CVE_RFC}}</label><br>
            <label><b>CURP: </b>{{datosPersonales[0].CURP}}</label><br>
            <label><b>CLAVE ELECTOR: </b>{{datosPersonales[0].CVE_ELECTOR}}</label><br>
            <label><b>LICENCIA: </b>{{datosPersonales[0].LICENCIA}}</label><br>
            <label><b>PASAPORTE: </b>{{datosPersonales[0].PASAPORTE}}</label><br>
            <label><b>CARTILLA: </b>{{datosPersonales[0].CARTILLA}}</label><br>
          <br>

          </div>
          

          <h5>DATOS DE CONTACTO</h5><br>
          <div *ngIf="datosDomicilioLenght != 0;  else withOutData" >
            <label><b>EMAIL: </b>{{datosDomicilio[0].EMAIL}}</label><br>
            <label><b>TELEFONO: </b>{{datosDomicilio[0].TELEFONO}}</label><br>
            <label><b>CELULAR: </b>{{datosDomicilio[0].CELULAR}}</label><br><br>
          </div>
          <ng-template #withOutData>
            
            <p>No hay datos registrados</p>
          </ng-template>
          

          <h5>DATOS COMPLEMENTARIOS</h5>
          <div *ngIf="datosComplementariosLenght != 0; else withOutData">
            <label><b>PERTENECE A ETNIA INDIGENA: </b>{{datosComplementarios[0].PERTENECE_ETNIA}}</label><br>
            <label><b>HABLA LENGUA INDIGENA: </b>{{datosComplementarios[0].HABLA_LEN_INDIGENA}}</label><br>
            <label><b>ES PADRE/MADRE: </b>{{datosComplementarios[0].ES_PADRE}}</label><br>
            <label><b>CUENTA CON DISCAPACIDAD: </b>{{datosComplementarios[0].TIENE_DISCAPACIDAD}}</label><br>

          </div>
          



        </div>
        <div class="col-6">
       
        <hr>
          <h5>DATOS DE NACIMIENTO</h5>
          <div *ngIf="datosPersonalesLenght != 0; else withOutData">
            <label><b>FECHA DE NACIMIENTO: </b>{{datosPersonales[0].FECHA_NAC}}</label><br>
            <label><b>PAIS DE NACIMIENTO: </b>{{datosPersonales[0].PAIS}}</label><br>
            <label><b>ESTADO DE NACIMIENTO: </b>{{datosPersonales[0].ESTADO}}</label><br>
            <label><b>MUNICIPIO DE NACIMIENTO: </b>{{datosPersonales[0].Ciudad}}</label><br>
            <label><b>NACIONALIDAD: </b>{{datosPersonales[0].NACIONALIDAD_NAME}}</label><br><br><br>
          </div>
          

          <h5>DATOS DE DOMICILIO</h5>
          <div *ngIf="datosDomicilioLenght != 0; else withOutData">
            <label><b>CALLE: </b>{{datosDomicilio[0].CALLE}}</label><br>
            <label><b>ENTRE CALLE: </b>{{datosDomicilio[0].ENTRE_CALLE}}</label><br>
            <label><b>Y CALLE: </b>{{datosDomicilio[0].Y_CALLE}}</label><br>
            <label><b>NO. EXTERIOR: </b>{{datosDomicilio[0].NO_EXTERIOR}}</label><br>
            <label><b>NO. INTERIOR: </b>{{datosDomicilio[0].NO_INTERIOR}}</label><br>
            <label><b>COLONIA: </b>{{datosDomicilio[0].COLONIA}}</label><br>
            <label><b>CODIGO POSTAL: </b>{{datosDomicilio[0].CODIGO_POSTAL}}</label><br>
            <label><b>ENTIDAD: </b>{{datosDomicilio[0].ESTADO}}</label><br>
            <label><b>MUNICIPIO: </b>{{datosDomicilio[0].MUNI_NAME}}</label><br>
            <label><b>CIUDAD: </b>{{datosDomicilio[0].CIUDAD}}</label><br>
          </div>
         
        </div>
      </div>
      <hr>

      <h5>INFORMACIÓN ESCOLAR</h5><br>

      <div *ngIf="listaEscolaridadLenght != 0; else withOutData">
        <table class="table">
          <thead>
              <th>Escolaridad</th> 
              <th>Escuela</th>
              <th>Carrera/Especialidad</th> 
              <th>Fecha de inicio</th>
              <th>Fecha de terminación</th> 
          </thead>
          <tbody>
              <tr  *ngFor = "let escuela of listaEscolaridad">
                  <td>{{escuela.ESTUDIO}}</td>
                  <td>{{escuela.ESCUELA}}</td>
                  <td>{{escuela.ESPECIALIDAD}}</td>
                  <td>{{escuela.FCH_INICIO}}</td>
                  <td>{{escuela.FCH_TERMINO}}</td>
              </tr>
      
          </tbody>
        </table><br><br>


      </div>

      <h5>IDIOMAS</h5><br>
      <div *ngIf="listaIdiomasLenght != 0; else withOutData">
       
      <table class="table">
        <thead class="thead">
          <tr>
            
            <th>Idioma</th>
            <th>Lectura</th>
            <th>Escritura</th>
            <th>Conversación</th>
            
          </tr>
        </thead>
        <tbody>
            <tr  *ngFor = "let idioma of listaIdiomas">
                <td>{{idioma.IDIOMA}}</td>
                <td>{{idioma.LECTURA}} </td>
                <td>{{idioma.ESCRITURA}}</td>
                <td>{{idioma.CONVERSACION}}</td>
    
            </tr>
        </tbody>
      </table>
      <br><br>

      </div>
      

      
    </form>
      
  </div>

  <div class="modal-footer">
      <button type="submit" class="btn btn-info" (click)="crearDescargarPDfInfoGeneral(); modal.close()">Descargar</button>
      <button type="submit" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
  </div>


</ng-template>

<ng-template #verDocs let-modal>
  <div class="modal-header">
      <h4 class="modal-title">DOCUMENTACIÓN EXISTENTE</h4>
  </div>

  <div class="modal-body">
    <label><b>Número de empleado:</b>{{numEmpleado}}</label><br>
    <label><b>Nombre:</b>{{nombreCompleto}}</label><br><br>

    <table class="table table-bordered">
      <thead>
        <tr>
          
          <th scope="col">Tipo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        
          <tr *ngFor = "let documento of listaDocsByCveEmp">
              
              <td>{{documento.desc_doc}}</td>
              <td>
                  <button class="btn btn-info" (click)="openDescargar(contDescargarDocs,documento)">Ver</button>
              </td>
          </tr>
      </tbody>
    </table>
  
   

  </div>

  <div class="modal-footer">
      <button type="submit" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
  </div>


</ng-template>


<ng-template #contDescargarDocs let-modal >
  <div class="modal-header">
      <h4 class="modal-title"></h4>
      <label><b>Nombre: </b>{{nombreCompleto}}</label>
      <label><b>Num. Empleado: </b>{{numEmpleado}}</label>

  </div>


  <div class="modal-body">

      <!--es la presentacion de los documentos-->
      <object class="pdfview" type="aplication/pdf">
      </object>
      <div class="row">
        <div class="col-2"></div>

        <div class="col-8">
            <h3>Previzualizacion</h3>
            <img [src]="previzualizacionDoc" width="100%" height="650px"  >  
        </div>

        <div class="col-2">

        </div>
       
 
    </div>
      <br>
 
     

      
  </div>


  <div class="modal-footer">
      <button class="btn btn-success" (click)=" downloadImage();modal.close()">Descargar</button>
      <button class="btn btn-danger" (click)="modal.close()">Cerrar</button>

  </div>
</ng-template>
<!-- #endregion -->
