
<nav class="navbar fixed-top navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#"> <!--80 y 80-->
      <img src="../../../assets/img/solo_log (1).png" width="80" height="80" class="d-inline-block align-top" alt="">
    </a>
   
    <h5 >SIRH-EXPEDIENTES</h5> 
    <!--<div class="divlistas">
  
      
      <ul class="navbar-nav mr-auto  ">
        <pre>     </pre>
        <li *ngFor="let items of menuItems" class="nav-item nav justify-content-end">
          <a class="nav-link" href="{{items.linkUrl}}" >{{items.linkName}} <span class="sr-only"></span></a>
          
        </li>
      </ul>
      
    </div>-->
   <!---- <div class="row">
      <div class="col-12">
        <button class="btn">holi</button>
        <button class="btn">holi</button>
        <button class="btn">holi</button>
        <button class="btn">holi</button>
        
      </div>
    </div>-->
    <a>
      <button class="btn" (click)="registroNuevos()">Registro inicial</button>
    </a>
    <a>
      <button class="btn" (click)="editar()">Editar</button>
    </a>
    <a>
      <button class="btn" (click)="consultas()">Consultas</button>
    </a>
    <a>
      <button class="btn" (click)="registroExistentes()">Registro existentes</button>
    </a>
    <a>
      <button class="btn" (click)="cerrarSesion()">Cerrar sesión</button>
    </a>
  </nav>
  <br><br>
  
  
  
  <!--https://getbootstrap.com/docs/5.0/components/navs-tabs/-->
