.navbar-brand{
    color: coral;
    font-weight: 750;
    font-style: oblique;
    font-size: x-large;
    text-shadow: 2px;
    margin-left: 40px;
  }
    
  
  .navbar-light{
      background-color: rgb(245, 245, 240);
      border-color: rgb(242, 245, 245);
      font-weight: 500;
      font-size: large;
  }
  
  .divlistas li:hover{
    color: coral;
  }
  a{
   
    margin-left: 3%;
  }
  
  .btn{
    padding: 0;
    border: none; 
    background:none;
  
    text-align: center;
   // margin-right: 5%;
    margin-left: 20%;
    //color: rgb(3, 39, 241);
    font-weight: bolder;
  
  .btn:hover{
    border:rgb(17, 0, 255);
  }
  
  
  }
  
  
  
  
    