

<h3>Idiomas</h3>

<br><br>
<label><b>Nombre: </b>un nombre</label>
<br><br>
<!--<form class="form-inline" role="form">
    <div class="row">
        <div class="col-4">
            <label class="form-label" for="">Idioma</label>
            <input type="email" id="" class="form-control" placeholder="Idioma" name=""  />          
        </div>
        <div class="form-group col-2">
            <label class="form-label" for="">Lectura(%):</label> 
            <input type="text" id="" class="form-control"  placeholder="Lectura"  name="" /> 
        </div>
        <div class="form-group col-2">
            <label class="form-label" for="">Escritura(%):</label>
            <input type="text" id="" class="form-control"  placeholder="Escritura" name=""  /> 

        </div>
        <div class="form-group col-2">
            <label class="form-label" for="">Conversación(%):</label>
            <input type="text" id="" class="form-control"  placeholder="Conversación" name=""  /> 

        </div>
        
            
    </div>
</form>-->
<br>
<!--<button class="btn btn-success">Agregar</button>-->
<br>
<br>


<!--<table class="table">
    <thead class="thead">
      <tr>
        
        <th>CVE_EMPLEADO</th>
        <th>PUESTO</th>
        <th>FECHA INICIO ADSCRIPCION</th>
        
      </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let adsActual of ListaTop1PorEmpleado">
            <td>{{adsActual.CVE_EMPLEADO}}</td>
            <td>{{adsActual.PUESTO_FUNCIONAL}} </td>
            <td>{{adsActual.fch_iniAdsc}}</td>
        </tr>
        <tr></tr>
    </tbody>
  </table>
  <br><br><br>

  <button  class="btn btn-success" (click)="traerNumerosEmpleados()">TRAER CVES DE EMPLEADOS</button>
  <button  class="btn btn-danger" (click)="traerTopByCveAndLlenarTable1000()">LLENAR TABLA1000</button>
  <button  class="btn btn-danger" (click)="traerTopByCveAndLlenarTable1000a2()">LLENAR TABLA2000</button>
  <button  class="btn btn-danger" (click)="traerTopByCveAndLlenarTable1000a3()">LLENAR TABLA3000</button>
  <button  class="btn btn-danger" (click)="traerTopByCveAndLlenarTable1000a4()">LLENAR TABLA4000</button>
  <button  class="btn btn-danger" (click)="traerTopByCveAndLlenarTable1000a4915()">LLENAR TABLA4915</button>-->