

<h3>Idiomas</h3>

<br><br>
<label><b>Nombre: </b>un nombre</label>
<br><br>
<form class="form-inline" role="form">
    <div class="row">
        <div class="col-4">
            <label class="form-label" for="">Idioma</label>
            <input type="email" id="" class="form-control" placeholder="Idioma" name=""  />          
        </div>
        <div class="form-group col-2">
            <label class="form-label" for="">Lectura(%):</label> 
            <input type="text" id="" class="form-control"  placeholder="Lectura"  name="" /> 
        </div>
        <div class="form-group col-2">
            <label class="form-label" for="">Escritura(%):</label>
            <input type="text" id="" class="form-control"  placeholder="Escritura" name=""  /> 

        </div>
        <div class="form-group col-2">
            <label class="form-label" for="">Conversación(%):</label>
            <input type="text" id="" class="form-control"  placeholder="Conversación" name=""  /> 

        </div>
        
            
    </div>
</form>
<br>
<button class="btn btn-success">Agregar</button>
<br>
<br>


<table class="table">
    <thead class="thead">
      <tr>
        
        <th>Idioma</th>
        <th>Lectura</th>
        <th>Escritura</th>
        <th>Conversación</th>
        
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>English</td>
            <td>50% </td>
            <td>30%</td>
            <td>40%</td>

        </tr>
    </tbody>
  </table>
  <br><br><br>

  <button  class="btn btn-success">Listo</button>
  <button  class="btn btn-danger">Cerrar
      
  </button>