
<div class="container-fluid">
    <div class="row">
        <div class="col-3 foto"> 
            <div class="avatar">
              
            </div>
            <br>
            <div class="raya"></div>
            <br>
            <form>
                <h5>Información personal</h5>
                <br>
                <label><b>Número de empleado:</b> 43142</label><br>
                <label><b>Tratamiento:</b> Ing.</label><br>
                <label><b>Nombre:</b> Leal Rivera Susana Jacqueline</label><br>
                <label><b>Sexo:</b> Femenino</label><br>
                <label><b>RFC:</b> LERS980613MSR</label><br>
                <label><b>Correo:</b> micorreo@gmail.com</label><br>
                <label><b>Tel:</b> 43433142</label><br>
                <br>
                <br>
                
            </form>
        
        </div>

        <div class="col-9 info">
            <div>
                <br>
                <br>
                <h5>Documentación Inicial</h5>
                <br>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Id doc</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Acta de nacimiento</td>
                            <td>
                                <button class="btn btn-info" (click)="openDescargar(contDescargarDocs)" >Ver / Descargar</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Acta de nacimiento</td>
                            <td>
                                <button class="btn btn-info" (click)="openDescargar(contDescargarDocs)">Ver / Descargar</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Acta de nacimiento</td>
                            <td>
                                <button class="btn btn-info" (click)="openDescargar(contDescargarDocs)">Ver / Descargar</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Acta de nacimiento</td>
                            <td>
                                <button class="btn btn-info" (click)="openDescargar(contDescargarDocs)">Ver / Descargar</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Acta de nacimiento</td>
                            <td>
                                <button class="btn btn-info" (click)="openDescargar(contDescargarDocs)" >Ver / Descargar</button>
                            </td>
                        </tr>
                        
                            
                    </tbody>
                  </table>
                
 
            </div>
 
         </div>
    </div>
        

</div>


<!--MODAL VER / DESCARGAR ARCHIVO-->
<ng-template #contDescargarDocs let-modal >
    <div class="modal-header">
        <h4 class="modal-title"></h4>
  
    </div>
  
  
    <div class="modal-body">
      
        <!--es la presentacion de los documentos-->
        <object class="pdfview" type="aplication/pdf">
        </object>
        <br>
   
       
  
        
    </div>
  
  
    <div class="modal-footer">
        <button class="btn btn-success" (click)="modal.close()">Descargar</button>
        <button class="btn btn-danger" (click)="modal.close()">Cerrar</button>
  
    </div>
</ng-template>





