.pdfview{
    margin: auto;
    display: block;
    width: 850px;
    height: 100vr;
   
    
}
.btn{
    text-align: center;
    margin-right: 3px;

}

.azul{
    background-color: rgb(127, 157, 255);
}

