
<br>
<h2>Subir Documentación:</h2>
<br>

<label><b>Número de empleado:</b>{{listaDatosLabel.CVE_EMPLEADO}}</label><br>
<label><b>Nombre:</b> {{NOMBRE}}</label><br>
<label><b>RFC:</b> {{listaDatosLabel.CVE_RFC}}</label><br>



<br><br>
<button class="btn btn-success" (click)="modal.open(contSubirDocs)">Subir documentos</button>
<br><br><br>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id doc</th>
        <th scope="col">Tipo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Acta de nacimiento</td>
        <td>
            <button class="btn btn-primary" (click)="openDescargar(contDescargarDocs)">Ver / Descargar</button>
            <button class="btn btn-danger" (click)="modal.open(contSubirDocs)">Cambiar</button>
        </td>
    </tbody>
  </table>


  <br>
  <br>
  <h6>Documentos necesarios para tener un expediente completo:</h6><br><br>
  <div class="row">
    <div class="col-2  text-muted">
      <li>Acta de nacimiento</li>
      <li>Solicitud de empleo</li>
      <li>Inventario</li>
      <li>RFC</li>
      <li>CURP</li>
      <li>Curriculum</li>
    </div>

    <div class="col-3  text-muted">
      <li>Carta de no antecedentes penales</li>
      <li>Constancia no inhabilitación</li>
      <li>Nombramiento o acta de designación</li>
      <li>Cartilla del servicio militar</li>
      <li>Certificado de estudios</li>
    </div>

    <div class="col-3  text-muted">
      <li>Domicilio convencional</li>
      <li>Carta gastos funerarios</li>
      <li>Cartas seguro de vida</li>
      <li>Certificado Médico</li>
      <li>Antidoping</li>
      <li>Examen Psicométrico</li>
     
    </div>
  </div>

  <small>Perito, Agente Ministerial de Investigación Criminal, Agente del Ministerio Público y Agente del Ministerio Público Auxiliar</small>





<br><br>
<button class="btn btn-primary">Guardar los cambios</button>
<p *ngIf="estaCompleto==true"; else incompleto>¡El Expediente está completo!</p>
<ng-template #incompleto><p>Esta incompleto</p></ng-template>
<br><br><br>



<!--MODAL SUBIR DOCUMENTOS-->
<ng-template #contSubirDocs let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Cargar documentos</h4>

  </div>


  <div class="modal-body">
      <label for="">Tipo de documento:</label>
                  <select id="" class="form-control">
                      <option selected disabled>Seleccione...</option>
                      <option>Acta de nacimiento</option>
                      <option>Solicitud de empleo</option>
                      <option>Inventario</option>
                      <option>Carta de no antecedentes penales</option>
                      <option>Certificado Médico</option>
                      <option>Antidoping</option>
                      <option>Certificado de estudios</option>
                      <option>RFC</option>
                      <option>CURP</option>
                      <option>Constancia no inhabilitación</option>
                      <option>Curriculum</option>
                      <option>Cartilla del servicio militar</option>
                      <option>Cartas seguro de vida</option>
                      <option>Carta gastos funerarios</option>
                      <option>Domicilio convencional</option>
                      <option>Exámen Psicométrico</option>
                  </select>
        
        <br><br>

        <label>Elegir archivo:</label>
        <input class="form-control" type="file"><br><br>

      
      

  </div>


  <div class="modal-footer">
      <button class="btn btn-success" (click)="modal.close()">Guardar</button>
      <button class="btn btn-danger" (click)="modal.close()">Cancelar</button>

  </div>
</ng-template>


<!--MODAL VER / DESCARGAR ARCHIVO-->
<ng-template #contDescargarDocs let-modal >
  <div class="modal-header">
      <h4 class="modal-title"></h4>

  </div>


  <div class="modal-body">
    
      <!--es la presentacion de los documentos-->
      <object class="pdfview" type="aplication/pdf">
      </object>
      <br>
 
     

      
  </div>


  <div class="modal-footer">
      <button class="btn btn-success" (click)="modal.close()">Descargar</button>
      <button class="btn btn-danger" (click)="modal.close()">Cerrar</button>

  </div>
</ng-template>




<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Nombre del doc
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <object class="pdfview" type="aplication/pdf">
          </object>
          <br>
          <button class="btn btn-success" >Descargar</button>    
      </div>
    </div>
  </div>
</div>


<!--https://codepen.io/aaronvanston/details/yNYOXR-->


 <!--- <acordion>
      <card>
          <acordion.toggle>


          </acordion.toggle>
          <acordion.collapse>
              <card.body>
                <object class="pdfview" type="aplication/pdf">
                </object>

              </card.body>
          </acordion.collapse>
      </card>
  </acordion>-->
  




